@font-face {
  font-family: Jb-Mono;
  src: url(JetBrainsMono-Regular.ttf);
}

body{
  padding: 0;
  margin: 0;
}

body a{
  text-decoration: none;
  color: black;
}

.bar{
  padding: 15px 15% 15px 15%;
  display: flex;
  justify-content: space-between;
  border-width: 0;
  margin: 0;
  background-color:#09689E;
  width:100vm;
}

code {
  font-family: Jb-Mono;
}

h1{
  color: aqua;
}

h2{
  color: chartreuse;
}

html {
  font-family: 'Federant', cursive;
}